<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>vue测试</title>
    <script src="node_modules/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="checkbox" value="JAVA" v-model="language">java<br>
        <input type="checkbox" value="Python" v-model="language">Python<br>
        <input type="checkbox" value="Swift" v-model="language">Swift<br>
        \
    </div>
</body>
<script type="text/javascript">
    var app = new Vue({
        el:"#app",
        data:{
            language:[]
        }
    })
</script>
</html>